In [10]:
import streamlit as st
import requests
import pandas as pd

lawd_cd = 11530
deal_ym = 202312
pageNo = 1
numOfRows = 10

def fetch_apartment_sales(lawd_cd, deal_ym):
    serviceKey = 'PT7s57yQ6NYjF%2BK4IX03RFJISja7dPlVceXQn7%2Fm2DWnibRv2u9288PJ6m9t4hi6sH2A%2B8fa8AGF3nDiGmeZRw%3D%3D'
    lawd_cd = 11530
    deal_ym = 202312
    pageNo = 1
    numOfRows = 10
    url = f"http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey={serviceKey}&pageNo={pageNo}&numOfRows={numOfRows}&LAWD_CD={lawd_cd}&DEAL_YMD={deal_ym}"
    response = requests.get(url)
    if response.status_code == 200:
        try:
            content = response.json()
            items = content['response']['body']['items']['item']
            df = pd.DataFrame(items)
            return df[['년','월','일','도로명','거래금액']]
        except:
            return pd.DataFrame()
    else:
        return pd.DataFrame()

result_df = fetch_apartment_sales(lawd_cd, deal_ym)

In [11]:
result_df

Empty DataFrame
Columns: []
Index: []